*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #131f30;

}

html{
  font-size: 16px;
}


.container{
  display: grid;
  margin: 2rem 1rem;
  grid-template-columns: repeat(12,1fr);
  background-color: #131f30;
  gap: 1rem;
}

.topbar{
  grid-column: 1/-1;
}

.moviecard{
  grid-column: 1/-1;

}

.movielist{
  grid-column: 1/-1;
  grid-row: 2/3;
  align-items: end;
}


